<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Recipe</title>
</head>
<body>
    {{> header}}
    <h1>Edit Recipe</h1>

    <form action="/edit/{{recipe._id}}" method="post">
        <input type="text" name="title" placeholder="Title" value="{{recipe.title}}">
        <input type="text" name="image" placeholder="Image URL" value="{{recipe.image}}">
        <textarea name="ingredients" placeholder="Ingredients">{{recipe.ingredients}}</textarea>
        <textarea name="instructions" placeholder="Instructions">{{recipe.instructions}}</textarea>
        <input type="submit" value="Update Recipe">
    </form>

    <a href="/recipe/{{recipe._id}}">Back to Recipe</a>
</body>
</html>